$icons-map: (px: "\e900",
    accessible-icon: "\e901",
    accusoft: "\e902",
    acquisitions-incorporated: "\e903",
    address-book: "\e904",
    address-book-solid: "\e905",
    address-card: "\e906",
    address-card-solid: "\e907",
    adjust-solid: "\e908",
    adn: "\e909",
    adobe: "\e90a",
    ad-solid: "\e90b",
    adversal: "\e90c",
    affiliatetheme: "\e90d",
    airbnb: "\e90e",
    air-freshener-solid: "\e90f",
    algolia: "\e910",
    align-center-solid: "\e911",
    align-justify-solid: "\e912",
    align-left-solid: "\e913",
    align-right-solid: "\e914",
    alipay: "\e915",
    allergies-solid: "\e916",
    amazon: "\e917",
    amazon-pay: "\e918",
    ambulance-solid: "\e919",
    american-sign-language-interpreting-solid: "\e91a",
    amilia: "\e91b",
    anchor-solid: "\e91c",
    android: "\e91d",
    angellist: "\e91e",
    angle-double-down-solid: "\e91f",
    angle-double-left-solid: "\e920",
    angle-double-right-solid: "\e921",
    angle-double-up-solid: "\e922",
    angle-down-solid: "\e923",
    angle-left-solid: "\e924",
    angle-right-solid: "\e925",
    angle-up-solid: "\e926",
    angry: "\e927",
    angrycreative: "\e928",
    angry-solid: "\e929",
    angular: "\e92a",
    ankh-solid: "\e92b",
    apper: "\e92c",
    apple: "\e92d",
    apple-alt-solid: "\e92e",
    apple-pay: "\e92f",
    app-store: "\e930",
    app-store-ios: "\e931",
    archive-solid: "\e932",
    archway-solid: "\e933",
    arrow-alt-circle-down: "\e934",
    arrow-alt-circle-down-solid: "\e935",
    arrow-alt-circle-left: "\e936",
    arrow-alt-circle-left-solid: "\e937",
    arrow-alt-circle-right: "\e938",
    arrow-alt-circle-right-solid: "\e939",
    arrow-alt-circle-up: "\e93a",
    arrow-alt-circle-up-solid: "\e93b",
    arrow-circle-down-solid: "\e93c",
    arrow-circle-left-solid: "\e93d",
    arrow-circle-right-solid: "\e93e",
    arrow-circle-up-solid: "\e93f",
    arrow-down-solid: "\e940",
    arrow-left-solid: "\e941",
    arrow-right-solid: "\e942",
    arrows-alt-h-solid: "\e943",
    arrows-alt-solid: "\e944",
    arrows-alt-v-solid: "\e945",
    arrow-up-solid: "\e946",
    artstation: "\e947",
    assistive-listening-systems-solid: "\e948",
    asterisk-solid: "\e949",
    asymmetrik: "\e94a",
    atlassian: "\e94b",
    atlas-solid: "\e94c",
    atom-solid: "\e94d",
    at-solid: "\e94e",
    audible: "\e94f",
    audio-description-solid: "\e950",
    autoprefixer: "\e951",
    avianex: "\e952",
    aviato: "\e953",
    award-solid: "\e954",
    aws: "\e955",
    baby-carriage-solid: "\e956",
    baby-solid: "\e957",
    backspace-solid: "\e958",
    backward-solid: "\e959",
    bacon-solid: "\e95a",
    balance-scale-left-solid: "\e95b",
    balance-scale-right-solid: "\e95c",
    balance-scale-solid: "\e95d",
    band-aid-solid: "\e95e",
    bandcamp: "\e95f",
    ban-solid: "\e960",
    barcode-solid: "\e961",
    bars-solid: "\e962",
    baseball-ball-solid: "\e963",
    basketball-ball-solid: "\e964",
    bath-solid: "\e965",
    battery-empty-solid: "\e966",
    battery-full-solid: "\e967",
    battery-half-solid: "\e968",
    battery-quarter-solid: "\e969",
    battery-three-quarters-solid: "\e96a",
    battle-net: "\e96b",
    bed-solid: "\e96c",
    beer-solid: "\e96d",
    behance: "\e96e",
    behance-square: "\e96f",
    bell: "\e970",
    bell-slash: "\e971",
    bell-slash-solid: "\e972",
    bell-solid: "\e973",
    bezier-curve-solid: "\e974",
    bible-solid: "\e975",
    bicycle-solid: "\e976",
    biking-solid: "\e977",
    bimobject: "\e978",
    binoculars-solid: "\e979",
    biohazard-solid: "\e97a",
    birthday-cake-solid: "\e97b",
    bitbucket: "\e97c",
    bitcoin: "\e97d",
    bity: "\e97e",
    blackberry: "\e97f",
    black-tie: "\e980",
    blender-phone-solid: "\e981",
    blender-solid: "\e982",
    blind-solid: "\e983",
    blogger: "\e984",
    blogger-b: "\e985",
    blog-solid: "\e986",
    bluetooth: "\e987",
    bluetooth-b: "\e988",
    bold-solid: "\e989",
    bolt-solid: "\e98a",
    bomb-solid: "\e98b",
    bone-solid: "\e98c",
    bong-solid: "\e98d",
    book-dead-solid: "\e98e",
    bookmark: "\e98f",
    bookmark-solid: "\e990",
    book-medical-solid: "\e991",
    book-open-solid: "\e992",
    book-reader-solid: "\e993",
    book-solid: "\e994",
    bootstrap: "\e995",
    border-all-solid: "\e996",
    border-none-solid: "\e997",
    border-style-solid: "\e998",
    bowling-ball-solid: "\e999",
    boxes-solid: "\e99a",
    box-open-solid: "\e99b",
    box-solid: "\e99c",
    braille-solid: "\e99d",
    brain-solid: "\e99e",
    bread-slice-solid: "\e99f",
    briefcase-medical-solid: "\e9a0",
    briefcase-solid: "\e9a1",
    broadcast-tower-solid: "\e9a2",
    broom-solid: "\e9a3",
    brush-solid: "\e9a4",
    btc: "\e9a5",
    buffer: "\e9a6",
    bug-solid: "\e9a7",
    building: "\e9a8",
    building-solid: "\e9a9",
    bullhorn-solid: "\e9aa",
    bullseye-solid: "\e9ab",
    burn-solid: "\e9ac",
    buromobelexperte: "\e9ad",
    bus-alt-solid: "\e9ae",
    business-time-solid: "\e9af",
    bus-solid: "\e9b0",
    buy-n-large: "\e9b1",
    buysellads: "\e9b2",
    calculator-solid: "\e9b3",
    calendar: "\e9b4",
    calendar-alt: "\e9b5",
    calendar-alt-solid: "\e9b6",
    calendar-check: "\e9b7",
    calendar-check-solid: "\e9b8",
    calendar-day-solid: "\e9b9",
    calendar-minus: "\e9ba",
    calendar-minus-solid: "\e9bb",
    calendar-plus: "\e9bc",
    calendar-plus-solid: "\e9bd",
    calendar-solid: "\e9be",
    calendar-times: "\e9bf",
    calendar-times-solid: "\e9c0",
    calendar-week-solid: "\e9c1",
    camera-retro-solid: "\e9c2",
    camera-solid: "\e9c3",
    campground-solid: "\e9c4",
    canadian-maple-leaf: "\e9c5",
    candy-cane-solid: "\e9c6",
    cannabis-solid: "\e9c7",
    capsules-solid: "\e9c8",
    car-alt-solid: "\e9c9",
    car-battery-solid: "\e9ca",
    car-crash-solid: "\e9cb",
    caret-down-solid: "\e9cc",
    caret-left-solid: "\e9cd",
    caret-right-solid: "\e9ce",
    caret-square-down: "\e9cf",
    caret-square-down-solid: "\e9d0",
    caret-square-left: "\e9d1",
    caret-square-left-solid: "\e9d2",
    caret-square-right: "\e9d3",
    caret-square-right-solid: "\e9d4",
    caret-square-up: "\e9d5",
    caret-square-up-solid: "\e9d6",
    caret-up-solid: "\e9d7",
    carrot-solid: "\e9d8",
    car-side-solid: "\e9d9",
    car-solid: "\e9da",
    cart-arrow-down-solid: "\e9db",
    cart-plus-solid: "\e9dc",
    cash-register-solid: "\e9dd",
    cat-solid: "\e9de",
    cc-amazon-pay: "\e9df",
    cc-amex: "\e9e0",
    cc-apple-pay: "\e9e1",
    cc-diners-club: "\e9e2",
    cc-discover: "\e9e3",
    cc-jcb: "\e9e4",
    cc-mastercard: "\e9e5",
    cc-paypal: "\e9e6",
    cc-stripe: "\e9e7",
    cc-visa: "\e9e8",
    centercode: "\e9e9",
    centos: "\e9ea",
    certificate-solid: "\e9eb",
    chair-solid: "\e9ec",
    chalkboard-solid: "\e9ed",
    chalkboard-teacher-solid: "\e9ee",
    charging-station-solid: "\e9ef",
    chart-area-solid: "\e9f0",
    chart-bar: "\e9f1",
    chart-bar-solid: "\e9f2",
    chart-line-solid: "\e9f3",
    chart-pie-solid: "\e9f4",
    check-circle: "\e9f5",
    check-circle-solid: "\e9f6",
    check-double-solid: "\e9f7",
    check-solid: "\e9f8",
    check-square: "\e9f9",
    check-square-solid: "\e9fa",
    cheese-solid: "\e9fb",
    chess-bishop-solid: "\e9fc",
    chess-board-solid: "\e9fd",
    chess-king-solid: "\e9fe",
    chess-knight-solid: "\e9ff",
    chess-pawn-solid: "\ea00",
    chess-queen-solid: "\ea01",
    chess-rook-solid: "\ea02",
    chess-solid: "\ea03",
    chevron-circle-down-solid: "\ea04",
    chevron-circle-left-solid: "\ea05",
    chevron-circle-right-solid: "\ea06",
    chevron-circle-up-solid: "\ea07",
    chevron-down-solid: "\ea08",
    chevron-left-solid: "\ea09",
    chevron-right-solid: "\ea0a",
    chevron-up-solid: "\ea0b",
    child-solid: "\ea0c",
    chrome: "\ea0d",
    chromecast: "\ea0e",
    church-solid: "\ea0f",
    circle: "\ea10",
    circle-notch-solid: "\ea11",
    circle-solid: "\ea12",
    city-solid: "\ea13",
    clinic-medical-solid: "\ea14",
    clipboard: "\ea15",
    clipboard-check-solid: "\ea16",
    clipboard-list-solid: "\ea17",
    clipboard-solid: "\ea18",
    clock: "\ea19",
    clock-solid: "\ea1a",
    clone: "\ea1b",
    clone-solid: "\ea1c",
    closed-captioning: "\ea1d",
    closed-captioning-solid: "\ea1e",
    cloud-download-alt-solid: "\ea1f",
    cloud-meatball-solid: "\ea20",
    cloud-moon-rain-solid: "\ea21",
    cloud-moon-solid: "\ea22",
    cloud-rain-solid: "\ea23",
    cloudscale: "\ea24",
    cloud-showers-heavy-solid: "\ea25",
    cloudsmith: "\ea26",
    cloud-solid: "\ea27",
    cloud-sun-rain-solid: "\ea28",
    cloud-sun-solid: "\ea29",
    cloud-upload-alt-solid: "\ea2a",
    cloudversify: "\ea2b",
    cocktail-solid: "\ea2c",
    code-branch-solid: "\ea2d",
    codepen: "\ea2e",
    code-solid: "\ea2f",
    codiepie: "\ea30",
    coffee-solid: "\ea31",
    cog-solid: "\ea32",
    cogs-solid: "\ea33",
    coins-solid: "\ea34",
    columns-solid: "\ea35",
    comment: "\ea36",
    comment-alt: "\ea37",
    comment-alt-solid: "\ea38",
    comment-dollar-solid: "\ea39",
    comment-dots: "\ea3a",
    comment-dots-solid: "\ea3b",
    comment-medical-solid: "\ea3c",
    comments: "\ea3d",
    comments-dollar-solid: "\ea3e",
    comment-slash-solid: "\ea3f",
    comment-solid: "\ea40",
    comments-solid: "\ea41",
    compact-disc-solid: "\ea42",
    compass: "\ea43",
    compass-solid: "\ea44",
    compress-arrows-alt-solid: "\ea45",
    compress-solid: "\ea46",
    concierge-bell-solid: "\ea47",
    confluence: "\ea48",
    connectdevelop: "\ea49",
    contao: "\ea4a",
    cookie-bite-solid: "\ea4b",
    cookie-solid: "\ea4c",
    copy: "\ea4d",
    copyright: "\ea4e",
    copyright-solid: "\ea4f",
    copy-solid: "\ea50",
    cotton-bureau: "\ea51",
    couch-solid: "\ea52",
    cpanel: "\ea53",
    creative-commons: "\ea54",
    creative-commons-by: "\ea55",
    creative-commons-nc: "\ea56",
    creative-commons-nc-eu: "\ea57",
    creative-commons-nc-jp: "\ea58",
    creative-commons-nd: "\ea59",
    creative-commons-pd: "\ea5a",
    creative-commons-pd-alt: "\ea5b",
    creative-commons-remix: "\ea5c",
    creative-commons-sa: "\ea5d",
    creative-commons-sampling: "\ea5e",
    creative-commons-sampling-plus: "\ea5f",
    creative-commons-share: "\ea60",
    creative-commons-zero: "\ea61",
    credit-card: "\ea62",
    credit-card-solid: "\ea63",
    critical-role: "\ea64",
    crop-alt-solid: "\ea65",
    crop-solid: "\ea66",
    crosshairs-solid: "\ea67",
    cross-solid: "\ea68",
    crown-solid: "\ea69",
    crow-solid: "\ea6a",
    crutch-solid: "\ea6b",
    css3: "\ea6c",
    css3-alt: "\ea6d",
    cube-solid: "\ea6e",
    cubes-solid: "\ea6f",
    cut-solid: "\ea70",
    cuttlefish: "\ea71",
    d-and-d: "\ea72",
    d-and-d-beyond: "\ea73",
    dashcube: "\ea74",
    database-solid: "\ea75",
    deaf-solid: "\ea76",
    delicious: "\ea77",
    democrat-solid: "\ea78",
    deploydog: "\ea79",
    deskpro: "\ea7a",
    desktop-solid: "\ea7b",
    dev: "\ea7c",
    deviantart: "\ea7d",
    dharmachakra-solid: "\ea7e",
    dhl: "\ea7f",
    diagnoses-solid: "\ea80",
    diaspora: "\ea81",
    dice-d6-solid: "\ea82",
    dice-d20-solid: "\ea83",
    dice-five-solid: "\ea84",
    dice-four-solid: "\ea85",
    dice-one-solid: "\ea86",
    dice-six-solid: "\ea87",
    dice-solid: "\ea88",
    dice-three-solid: "\ea89",
    dice-two-solid: "\ea8a",
    digg: "\ea8b",
    digital-ocean: "\ea8c",
    digital-tachograph-solid: "\ea8d",
    directions-solid: "\ea8e",
    discord: "\ea8f",
    discourse: "\ea90",
    divide-solid: "\ea91",
    dizzy: "\ea92",
    dizzy-solid: "\ea93",
    dna-solid: "\ea94",
    dochub: "\ea95",
    docker: "\ea96",
    dog-solid: "\ea97",
    dollar-sign-solid: "\ea98",
    dolly-flatbed-solid: "\ea99",
    dolly-solid: "\ea9a",
    donate-solid: "\ea9b",
    door-closed-solid: "\ea9c",
    door-open-solid: "\ea9d",
    dot-circle: "\ea9e",
    dot-circle-solid: "\ea9f",
    dove-solid: "\eaa0",
    download-solid: "\eaa1",
    draft2digital: "\eaa2",
    drafting-compass-solid: "\eaa3",
    dragon-solid: "\eaa4",
    draw-polygon-solid: "\eaa5",
    dribbble: "\eaa6",
    dribbble-square: "\eaa7",
    dropbox: "\eaa8",
    drum-solid: "\eaa9",
    drum-steelpan-solid: "\eaaa",
    drumstick-bite-solid: "\eaab",
    drupal: "\eaac",
    dumbbell-solid: "\eaad",
    dumpster-fire-solid: "\eaae",
    dumpster-solid: "\eaaf",
    dungeon-solid: "\eab0",
    dyalog: "\eab1",
    earlybirds: "\eab2",
    ebay: "\eab3",
    edge: "\eab4",
    edit: "\eab5",
    edit-solid: "\eab6",
    egg-solid: "\eab7",
    eject-solid: "\eab8",
    elementor: "\eab9",
    ellipsis-h-solid: "\eaba",
    ellipsis-v-solid: "\eabb",
    ello: "\eabc",
    ember: "\eabd",
    empire: "\eabe",
    envelope: "\eabf",
    envelope-open: "\eac0",
    envelope-open-solid: "\eac1",
    envelope-open-text-solid: "\eac2",
    envelope-solid: "\eac3",
    envelope-square-solid: "\eac4",
    envira: "\eac5",
    equals-solid: "\eac6",
    eraser-solid: "\eac7",
    erlang: "\eac8",
    ethereum: "\eac9",
    ethernet-solid: "\eaca",
    etsy: "\eacb",
    euro-sign-solid: "\eacc",
    evernote: "\eacd",
    exchange-alt-solid: "\eace",
    exclamation-circle-solid: "\eacf",
    exclamation-solid: "\ead0",
    exclamation-triangle-solid: "\ead1",
    expand-arrows-alt-solid: "\ead2",
    expand-solid: "\ead3",
    expeditedssl: "\ead4",
    external-link-alt-solid: "\ead5",
    external-link-square-alt-solid: "\ead6",
    eye: "\ead7",
    eye-dropper-solid: "\ead8",
    eye-slash: "\ead9",
    eye-slash-solid: "\eada",
    eye-solid: "\eadb",
    facebook: "\eadc",
    facebook-f: "\eadd",
    facebook-messenger: "\eade",
    facebook-square: "\eadf",
    fan-solid: "\eae0",
    fantasy-flight-games: "\eae1",
    fast-backward-solid: "\eae2",
    fast-forward-solid: "\eae3",
    fax-solid: "\eae4",
    feather-alt-solid: "\eae5",
    feather-solid: "\eae6",
    fedex: "\eae7",
    fedora: "\eae8",
    female-solid: "\eae9",
    fighter-jet-solid: "\eaea",
    figma: "\eaeb",
    file: "\eaec",
    file-alt: "\eaed",
    file-alt-solid: "\eaee",
    file-archive: "\eaef",
    file-archive-solid: "\eaf0",
    file-audio: "\eaf1",
    file-audio-solid: "\eaf2",
    file-code: "\eaf3",
    file-code-solid: "\eaf4",
    file-contract-solid: "\eaf5",
    file-csv-solid: "\eaf6",
    file-download-solid: "\eaf7",
    file-excel: "\eaf8",
    file-excel-solid: "\eaf9",
    file-export-solid: "\eafa",
    file-image: "\eafb",
    file-image-solid: "\eafc",
    file-import-solid: "\eafd",
    file-invoice-dollar-solid: "\eafe",
    file-invoice-solid: "\eaff",
    file-medical-alt-solid: "\eb00",
    file-medical-solid: "\eb01",
    file-pdf: "\eb02",
    file-pdf-solid: "\eb03",
    file-powerpoint: "\eb04",
    file-powerpoint-solid: "\eb05",
    file-prescription-solid: "\eb06",
    file-signature-solid: "\eb07",
    file-solid: "\eb08",
    file-upload-solid: "\eb09",
    file-video: "\eb0a",
    file-video-solid: "\eb0b",
    file-word: "\eb0c",
    file-word-solid: "\eb0d",
    fill-drip-solid: "\eb0e",
    fill-solid: "\eb0f",
    film-solid: "\eb10",
    filter-solid: "\eb11",
    fingerprint-solid: "\eb12",
    fire-alt-solid: "\eb13",
    fire-extinguisher-solid: "\eb14",
    firefox: "\eb15",
    fire-solid: "\eb16",
    first-aid-solid: "\eb17",
    firstdraft: "\eb18",
    first-order: "\eb19",
    first-order-alt: "\eb1a",
    fish-solid: "\eb1b",
    fist-raised-solid: "\eb1c",
    flag: "\eb1d",
    flag-checkered-solid: "\eb1e",
    flag-solid: "\eb1f",
    flag-usa-solid: "\eb20",
    flask-solid: "\eb21",
    flickr: "\eb22",
    flipboard: "\eb23",
    flushed: "\eb24",
    flushed-solid: "\eb25",
    fly: "\eb26",
    folder: "\eb27",
    folder-minus-solid: "\eb28",
    folder-open: "\eb29",
    folder-open-solid: "\eb2a",
    folder-plus-solid: "\eb2b",
    folder-solid: "\eb2c",
    font-awesome: "\eb2d",
    font-awesome-alt: "\eb2e",
    font-awesome-flag: "\eb2f",
    fonticons: "\eb30",
    fonticons-fi: "\eb31",
    font-solid: "\eb32",
    football-ball-solid: "\eb33",
    fort-awesome: "\eb34",
    fort-awesome-alt: "\eb35",
    forumbee: "\eb36",
    forward-solid: "\eb37",
    foursquare: "\eb38",
    freebsd: "\eb39",
    free-code-camp: "\eb3a",
    frog-solid: "\eb3b",
    frown: "\eb3c",
    frown-open: "\eb3d",
    frown-open-solid: "\eb3e",
    frown-solid: "\eb3f",
    fulcrum: "\eb40",
    funnel-dollar-solid: "\eb41",
    futbol: "\eb42",
    futbol-solid: "\eb43",
    galactic-republic: "\eb44",
    galactic-senate: "\eb45",
    gamepad-solid: "\eb46",
    gas-pump-solid: "\eb47",
    gavel-solid: "\eb48",
    gem: "\eb49",
    gem-solid: "\eb4a",
    genderless-solid: "\eb4b",
    get-pocket: "\eb4c",
    gg: "\eb4d",
    gg-circle: "\eb4e",
    ghost-solid: "\eb4f",
    gift-solid: "\eb50",
    gifts-solid: "\eb51",
    git: "\eb52",
    git-alt: "\eb53",
    github: "\eb54",
    github-alt: "\eb55",
    github-square: "\eb56",
    gitkraken: "\eb57",
    gitlab: "\eb58",
    git-square: "\eb59",
    gitter: "\eb5a",
    glass-cheers-solid: "\eb5b",
    glasses-solid: "\eb5c",
    glass-martini-alt-solid: "\eb5d",
    glass-martini-solid: "\eb5e",
    glass-whiskey-solid: "\eb5f",
    glide: "\eb60",
    glide-g: "\eb61",
    globe-africa-solid: "\eb62",
    globe-americas-solid: "\eb63",
    globe-asia-solid: "\eb64",
    globe-europe-solid: "\eb65",
    globe-solid: "\eb66",
    gofore: "\eb67",
    golf-ball-solid: "\eb68",
    goodreads: "\eb69",
    goodreads-g: "\eb6a",
    google: "\eb6b",
    google-drive: "\eb6c",
    google-play: "\eb6d",
    google-plus: "\eb6e",
    google-plus-g: "\eb6f",
    google-plus-square: "\eb70",
    google-wallet: "\eb71",
    gopuram-solid: "\eb72",
    graduation-cap-solid: "\eb73",
    gratipay: "\eb74",
    grav: "\eb75",
    greater-than-equal-solid: "\eb76",
    greater-than-solid: "\eb77",
    grimace: "\eb78",
    grimace-solid: "\eb79",
    grin: "\eb7a",
    grin-alt: "\eb7b",
    grin-alt-solid: "\eb7c",
    grin-beam: "\eb7d",
    grin-beam-solid: "\eb7e",
    grin-beam-sweat: "\eb7f",
    grin-beam-sweat-solid: "\eb80",
    grin-hearts: "\eb81",
    grin-hearts-solid: "\eb82",
    grin-solid: "\eb83",
    grin-squint: "\eb84",
    grin-squint-solid: "\eb85",
    grin-squint-tears: "\eb86",
    grin-squint-tears-solid: "\eb87",
    grin-stars: "\eb88",
    grin-stars-solid: "\eb89",
    grin-tears: "\eb8a",
    grin-tears-solid: "\eb8b",
    grin-tongue: "\eb8c",
    grin-tongue-solid: "\eb8d",
    grin-tongue-squint: "\eb8e",
    grin-tongue-squint-solid: "\eb8f",
    grin-tongue-wink: "\eb90",
    grin-tongue-wink-solid: "\eb91",
    grin-wink: "\eb92",
    grin-wink-solid: "\eb93",
    gripfire: "\eb94",
    grip-horizontal-solid: "\eb95",
    grip-lines-solid: "\eb96",
    grip-lines-vertical-solid: "\eb97",
    grip-vertical-solid: "\eb98",
    grunt: "\eb99",
    guitar-solid: "\eb9a",
    gulp: "\eb9b",
    hacker-news: "\eb9c",
    hacker-news-square: "\eb9d",
    hackerrank: "\eb9e",
    hamburger-solid: "\eb9f",
    hammer-solid: "\eba0",
    hamsa-solid: "\eba1",
    hand-holding-heart-solid: "\eba2",
    hand-holding-solid: "\eba3",
    hand-holding-usd-solid: "\eba4",
    hand-lizard: "\eba5",
    hand-lizard-solid: "\eba6",
    hand-middle-finger-solid: "\eba7",
    hand-paper: "\eba8",
    hand-paper-solid: "\eba9",
    hand-peace: "\ebaa",
    hand-peace-solid: "\ebab",
    hand-point-down: "\ebac",
    hand-point-down-solid: "\ebad",
    hand-pointer: "\ebae",
    hand-pointer-solid: "\ebaf",
    hand-point-left: "\ebb0",
    hand-point-left-solid: "\ebb1",
    hand-point-right: "\ebb2",
    hand-point-right-solid: "\ebb3",
    hand-point-up: "\ebb4",
    hand-point-up-solid: "\ebb5",
    hand-rock: "\ebb6",
    hand-rock-solid: "\ebb7",
    hand-scissors: "\ebb8",
    hand-scissors-solid: "\ebb9",
    handshake: "\ebba",
    handshake-solid: "\ebbb",
    hands-helping-solid: "\ebbc",
    hand-spock: "\ebbd",
    hand-spock-solid: "\ebbe",
    hands-solid: "\ebbf",
    hanukiah-solid: "\ebc0",
    hard-hat-solid: "\ebc1",
    hashtag-solid: "\ebc2",
    hat-cowboy-side-solid: "\ebc3",
    hat-cowboy-solid: "\ebc4",
    hat-wizard-solid: "\ebc5",
    haykal-solid: "\ebc6",
    hdd: "\ebc7",
    hdd-solid: "\ebc8",
    heading-solid: "\ebc9",
    headphones-alt-solid: "\ebca",
    headphones-solid: "\ebcb",
    headset-solid: "\ebcc",
    heart: "\ebcd",
    heartbeat-solid: "\ebce",
    heart-broken-solid: "\ebcf",
    heart-solid: "\ebd0",
    helicopter-solid: "\ebd1",
    highlighter-solid: "\ebd2",
    hiking-solid: "\ebd3",
    hippo-solid: "\ebd4",
    hips: "\ebd5",
    hire-a-helper: "\ebd6",
    history-solid: "\ebd7",
    hockey-puck-solid: "\ebd8",
    holly-berry-solid: "\ebd9",
    home-solid: "\ebda",
    hooli: "\ebdb",
    hornbill: "\ebdc",
    horse-head-solid: "\ebdd",
    horse-solid: "\ebde",
    hospital: "\ebdf",
    hospital-alt-solid: "\ebe0",
    hospital-solid: "\ebe1",
    hospital-symbol-solid: "\ebe2",
    hotdog-solid: "\ebe3",
    hotel-solid: "\ebe4",
    hotjar: "\ebe5",
    hot-tub-solid: "\ebe6",
    hourglass: "\ebe7",
    hourglass-end-solid: "\ebe8",
    hourglass-half-solid: "\ebe9",
    hourglass-solid: "\ebea",
    hourglass-start-solid: "\ebeb",
    house-damage-solid: "\ebec",
    houzz: "\ebed",
    hryvnia-solid: "\ebee",
    h-square-solid: "\ebef",
    html5: "\ebf0",
    hubspot: "\ebf1",
    ice-cream-solid: "\ebf2",
    icicles-solid: "\ebf3",
    icons-solid: "\ebf4",
    i-cursor-solid: "\ebf5",
    id-badge: "\ebf6",
    id-badge-solid: "\ebf7",
    id-card: "\ebf8",
    id-card-alt-solid: "\ebf9",
    id-card-solid: "\ebfa",
    igloo-solid: "\ebfb",
    image: "\ebfc",
    images: "\ebfd",
    image-solid: "\ebfe",
    images-solid: "\ebff",
    imdb: "\ec00",
    inbox-solid: "\ec01",
    indent-solid: "\ec02",
    industry-solid: "\ec03",
    infinity-solid: "\ec04",
    info-circle-solid: "\ec05",
    info-solid: "\ec06",
    instagram: "\ec07",
    intercom: "\ec08",
    internet-explorer: "\ec09",
    invision: "\ec0a",
    ioxhost: "\ec0b",
    italic-solid: "\ec0c",
    itch-io: "\ec0d",
    itunes: "\ec0e",
    itunes-note: "\ec0f",
    java: "\ec10",
    jedi-order: "\ec11",
    jedi-solid: "\ec12",
    jenkins: "\ec13",
    jira: "\ec14",
    joget: "\ec15",
    joint-solid: "\ec16",
    joomla: "\ec17",
    journal-whills-solid: "\ec18",
    js: "\ec19",
    jsfiddle: "\ec1a",
    js-square: "\ec1b",
    kaaba-solid: "\ec1c",
    kaggle: "\ec1d",
    keybase: "\ec1e",
    keyboard: "\ec1f",
    keyboard-solid: "\ec20",
    keycdn: "\ec21",
    key-solid: "\ec22",
    khanda-solid: "\ec23",
    kickstarter: "\ec24",
    kickstarter-k: "\ec25",
    kiss: "\ec26",
    kiss-beam: "\ec27",
    kiss-beam-solid: "\ec28",
    kiss-solid: "\ec29",
    kiss-wink-heart: "\ec2a",
    kiss-wink-heart-solid: "\ec2b",
    kiwi-bird-solid: "\ec2c",
    korvue: "\ec2d",
    landmark-solid: "\ec2e",
    language-solid: "\ec2f",
    laptop-code-solid: "\ec30",
    laptop-medical-solid: "\ec31",
    laptop-solid: "\ec32",
    laravel: "\ec33",
    lastfm: "\ec34",
    lastfm-square: "\ec35",
    laugh: "\ec36",
    laugh-beam: "\ec37",
    laugh-beam-solid: "\ec38",
    laugh-solid: "\ec39",
    laugh-squint: "\ec3a",
    laugh-squint-solid: "\ec3b",
    laugh-wink: "\ec3c",
    laugh-wink-solid: "\ec3d",
    layer-group-solid: "\ec3e",
    leaf-solid: "\ec3f",
    leanpub: "\ec40",
    lemon: "\ec41",
    lemon-solid: "\ec42",
    less: "\ec43",
    less-than-equal-solid: "\ec44",
    less-than-solid: "\ec45",
    level-down-alt-solid: "\ec46",
    level-up-alt-solid: "\ec47",
    life-ring: "\ec48",
    life-ring-solid: "\ec49",
    lightbulb: "\ec4a",
    lightbulb-solid: "\ec4b",
    line: "\ec4c",
    linkedin: "\ec4d",
    linkedin-in: "\ec4e",
    link-solid: "\ec4f",
    linode: "\ec50",
    linux: "\ec51",
    lira-sign-solid: "\ec52",
    list-alt: "\ec53",
    list-alt-solid: "\ec54",
    list-ol-solid: "\ec55",
    list-solid: "\ec56",
    list-ul-solid: "\ec57",
    location-arrow-solid: "\ec58",
    lock-open-solid: "\ec59",
    lock-solid: "\ec5a",
    long-arrow-alt-down-solid: "\ec5b",
    long-arrow-alt-left-solid: "\ec5c",
    long-arrow-alt-right-solid: "\ec5d",
    long-arrow-alt-up-solid: "\ec5e",
    low-vision-solid: "\ec5f",
    luggage-cart-solid: "\ec60",
    lyft: "\ec61",
    magento: "\ec62",
    magic-solid: "\ec63",
    magnet-solid: "\ec64",
    mail-bulk-solid: "\ec65",
    mailchimp: "\ec66",
    male-solid: "\ec67",
    mandalorian: "\ec68",
    map: "\ec69",
    map-marked-alt-solid: "\ec6a",
    map-marked-solid: "\ec6b",
    map-marker-alt-solid: "\ec6c",
    map-marker-solid: "\ec6d",
    map-pin-solid: "\ec6e",
    map-signs-solid: "\ec6f",
    map-solid: "\ec70",
    markdown: "\ec71",
    marker-solid: "\ec72",
    mars-double-solid: "\ec73",
    mars-solid: "\ec74",
    mars-stroke-h-solid: "\ec75",
    mars-stroke-solid: "\ec76",
    mars-stroke-v-solid: "\ec77",
    mask-solid: "\ec78",
    mastodon: "\ec79",
    maxcdn: "\ec7a",
    mdb: "\ec7b",
    medal-solid: "\ec7c",
    medapps: "\ec7d",
    medium: "\ec7e",
    medium-m: "\ec7f",
    medkit-solid: "\ec80",
    medrt: "\ec81",
    meetup: "\ec82",
    megaport: "\ec83",
    meh: "\ec84",
    meh-blank: "\ec85",
    meh-blank-solid: "\ec86",
    meh-rolling-eyes: "\ec87",
    meh-rolling-eyes-solid: "\ec88",
    meh-solid: "\ec89",
    memory-solid: "\ec8a",
    mendeley: "\ec8b",
    menorah-solid: "\ec8c",
    mercury-solid: "\ec8d",
    meteor-solid: "\ec8e",
    microchip-solid: "\ec8f",
    microphone-alt-slash-solid: "\ec90",
    microphone-alt-solid: "\ec91",
    microphone-slash-solid: "\ec92",
    microphone-solid: "\ec93",
    microscope-solid: "\ec94",
    microsoft: "\ec95",
    minus-circle-solid: "\ec96",
    minus-solid: "\ec97",
    minus-square: "\ec98",
    minus-square-solid: "\ec99",
    mitten-solid: "\ec9a",
    mix: "\ec9b",
    mixcloud: "\ec9c",
    mizuni: "\ec9d",
    mobile-alt-solid: "\ec9e",
    mobile-solid: "\ec9f",
    modx: "\eca0",
    monero: "\eca1",
    money-bill-alt: "\eca2",
    money-bill-alt-solid: "\eca3",
    money-bill-solid: "\eca4",
    money-bill-wave-alt-solid: "\eca5",
    money-bill-wave-solid: "\eca6",
    money-check-alt-solid: "\eca7",
    money-check-solid: "\eca8",
    monument-solid: "\eca9",
    moon: "\ecaa",
    moon-solid: "\ecab",
    mortar-pestle-solid: "\ecac",
    mosque-solid: "\ecad",
    motorcycle-solid: "\ecae",
    mountain-solid: "\ecaf",
    mouse-pointer-solid: "\ecb0",
    mouse-solid: "\ecb1",
    mug-hot-solid: "\ecb2",
    music-solid: "\ecb3",
    napster: "\ecb4",
    neos: "\ecb5",
    network-wired-solid: "\ecb6",
    neuter-solid: "\ecb7",
    newspaper: "\ecb8",
    newspaper-solid: "\ecb9",
    nimblr: "\ecba",
    node: "\ecbb",
    node-js: "\ecbc",
    not-equal-solid: "\ecbd",
    notes-medical-solid: "\ecbe",
    npm: "\ecbf",
    ns8: "\ecc0",
    nutritionix: "\ecc1",
    object-group: "\ecc2",
    object-group-solid: "\ecc3",
    object-ungroup: "\ecc4",
    object-ungroup-solid: "\ecc5",
    odnoklassniki: "\ecc6",
    odnoklassniki-square: "\ecc7",
    oil-can-solid: "\ecc8",
    old-republic: "\ecc9",
    om-solid: "\ecca",
    opencart: "\eccb",
    openid: "\eccc",
    opera: "\eccd",
    optin-monster: "\ecce",
    orcid: "\eccf",
    osi: "\ecd0",
    otter-solid: "\ecd1",
    outdent-solid: "\ecd2",
    page4: "\ecd3",
    pagelines: "\ecd4",
    pager-solid: "\ecd5",
    paint-brush-solid: "\ecd6",
    paint-roller-solid: "\ecd7",
    palette-solid: "\ecd8",
    palfed: "\ecd9",
    pallet-solid: "\ecda",
    paperclip-solid: "\ecdb",
    paper-plane: "\ecdc",
    paper-plane-solid: "\ecdd",
    parachute-box-solid: "\ecde",
    paragraph-solid: "\ecdf",
    parking-solid: "\ece0",
    passport-solid: "\ece1",
    pastafarianism-solid: "\ece2",
    paste-solid: "\ece3",
    patreon: "\ece4",
    pause-circle: "\ece5",
    pause-circle-solid: "\ece6",
    pause-solid: "\ece7",
    paw-solid: "\ece8",
    paypal: "\ece9",
    peace-solid: "\ecea",
    pen-alt-solid: "\eceb",
    pencil-alt-solid: "\ecec",
    pencil-ruler-solid: "\eced",
    pen-fancy-solid: "\ecee",
    pen-nib-solid: "\ecef",
    penny-arcade: "\ecf0",
    pen-solid: "\ecf1",
    pen-square-solid: "\ecf2",
    people-carry-solid: "\ecf3",
    pepper-hot-solid: "\ecf4",
    percentage-solid: "\ecf5",
    percent-solid: "\ecf6",
    periscope: "\ecf7",
    person-booth-solid: "\ecf8",
    phabricator: "\ecf9",
    phoenix-framework: "\ecfa",
    phoenix-squadron: "\ecfb",
    phone-alt-solid: "\ecfc",
    phone-slash-solid: "\ecfd",
    phone-solid: "\ecfe",
    phone-square-alt-solid: "\ecff",
    phone-square-solid: "\ed00",
    phone-volume-solid: "\ed01",
    photo-video-solid: "\ed02",
    php: "\ed03",
    pied-piper: "\ed04",
    pied-piper-alt: "\ed05",
    pied-piper-hat: "\ed06",
    pied-piper-pp: "\ed07",
    piggy-bank-solid: "\ed08",
    pills-solid: "\ed09",
    pinterest: "\ed0a",
    pinterest-p: "\ed0b",
    pinterest-square: "\ed0c",
    pizza-slice-solid: "\ed0d",
    place-of-worship-solid: "\ed0e",
    plane-arrival-solid: "\ed0f",
    plane-departure-solid: "\ed10",
    plane-solid: "\ed11",
    play-circle: "\ed12",
    play-circle-solid: "\ed13",
    play-solid: "\ed14",
    playstation: "\ed15",
    plug-solid: "\ed16",
    plus-circle-solid: "\ed17",
    plus-solid: "\ed18",
    plus-square: "\ed19",
    plus-square-solid: "\ed1a",
    podcast-solid: "\ed1b",
    poll-h-solid: "\ed1c",
    poll-solid: "\ed1d",
    poop-solid: "\ed1e",
    poo-solid: "\ed1f",
    poo-storm-solid: "\ed20",
    portrait-solid: "\ed21",
    pound-sign-solid: "\ed22",
    power-off-solid: "\ed23",
    praying-hands-solid: "\ed24",
    pray-solid: "\ed25",
    prescription-bottle-alt-solid: "\ed26",
    prescription-bottle-solid: "\ed27",
    prescription-solid: "\ed28",
    print-solid: "\ed29",
    procedures-solid: "\ed2a",
    product-hunt: "\ed2b",
    project-diagram-solid: "\ed2c",
    pushed: "\ed2d",
    puzzle-piece-solid: "\ed2e",
    python: "\ed2f",
    qq: "\ed30",
    qrcode-solid: "\ed31",
    question-circle: "\ed32",
    question-circle-solid: "\ed33",
    question-solid: "\ed34",
    quidditch-solid: "\ed35",
    quinscape: "\ed36",
    quora: "\ed37",
    quote-left-solid: "\ed38",
    quote-right-solid: "\ed39",
    quran-solid: "\ed3a",
    radiation-alt-solid: "\ed3b",
    radiation-solid: "\ed3c",
    rainbow-solid: "\ed3d",
    random-solid: "\ed3e",
    raspberry-pi: "\ed3f",
    ravelry: "\ed40",
    react: "\ed41",
    reacteurope: "\ed42",
    readme: "\ed43",
    rebel: "\ed44",
    receipt-solid: "\ed45",
    record-vinyl-solid: "\ed46",
    recycle-solid: "\ed47",
    reddit: "\ed48",
    reddit-alien: "\ed49",
    reddit-square: "\ed4a",
    redhat: "\ed4b",
    redo-alt-solid: "\ed4c",
    redo-solid: "\ed4d",
    red-river: "\ed4e",
    registered: "\ed4f",
    registered-solid: "\ed50",
    remove-format-solid: "\ed51",
    renren: "\ed52",
    reply-all-solid: "\ed53",
    replyd: "\ed54",
    reply-solid: "\ed55",
    republican-solid: "\ed56",
    researchgate: "\ed57",
    resolving: "\ed58",
    restroom-solid: "\ed59",
    retweet-solid: "\ed5a",
    rev: "\ed5b",
    ribbon-solid: "\ed5c",
    ring-solid: "\ed5d",
    road-solid: "\ed5e",
    robot-solid: "\ed5f",
    rocketchat: "\ed60",
    rocket-solid: "\ed61",
    rockrms: "\ed62",
    route-solid: "\ed63",
    r-project: "\ed64",
    rss-solid: "\ed65",
    rss-square-solid: "\ed66",
    ruble-sign-solid: "\ed67",
    ruler-combined-solid: "\ed68",
    ruler-horizontal-solid: "\ed69",
    ruler-solid: "\ed6a",
    ruler-vertical-solid: "\ed6b",
    running-solid: "\ed6c",
    rupee-sign-solid: "\ed6d",
    sad-cry: "\ed6e",
    sad-cry-solid: "\ed6f",
    sad-tear: "\ed70",
    sad-tear-solid: "\ed71",
    safari: "\ed72",
    salesforce: "\ed73",
    sass: "\ed74",
    satellite-dish-solid: "\ed75",
    satellite-solid: "\ed76",
    save: "\ed77",
    save-solid: "\ed78",
    schlix: "\ed79",
    school-solid: "\ed7a",
    screwdriver-solid: "\ed7b",
    scribd: "\ed7c",
    scroll-solid: "\ed7d",
    sd-card-solid: "\ed7e",
    search-dollar-solid: "\ed7f",
    searchengin: "\ed80",
    search-location-solid: "\ed81",
    search-minus-solid: "\ed82",
    search-plus-solid: "\ed83",
    search-solid: "\ed84",
    seedling-solid: "\ed85",
    sellcast: "\ed86",
    sellsy: "\ed87",
    server-solid: "\ed88",
    servicestack: "\ed89",
    shapes-solid: "\ed8a",
    share-alt-solid: "\ed8b",
    share-alt-square-solid: "\ed8c",
    share-solid: "\ed8d",
    share-square: "\ed8e",
    share-square-solid: "\ed8f",
    shekel-sign-solid: "\ed90",
    shield-alt-solid: "\ed91",
    shipping-fast-solid: "\ed92",
    ship-solid: "\ed93",
    shirtsinbulk: "\ed94",
    shoe-prints-solid: "\ed95",
    shopping-bag-solid: "\ed96",
    shopping-basket-solid: "\ed97",
    shopping-cart-solid: "\ed98",
    shopware: "\ed99",
    shower-solid: "\ed9a",
    shuttle-van-solid: "\ed9b",
    signal-solid: "\ed9c",
    signature-solid: "\ed9d",
    sign-in-alt-solid: "\ed9e",
    sign-language-solid: "\ed9f",
    sign-out-alt-solid: "\eda0",
    sign-solid: "\eda1",
    sim-card-solid: "\eda2",
    simplybuilt: "\eda3",
    sistrix: "\eda4",
    sitemap-solid: "\eda5",
    sith: "\eda6",
    skating-solid: "\eda7",
    sketch: "\eda8",
    skiing-nordic-solid: "\eda9",
    skiing-solid: "\edaa",
    skull-crossbones-solid: "\edab",
    skull-solid: "\edac",
    skyatlas: "\edad",
    skype: "\edae",
    slack: "\edaf",
    slack-hash: "\edb0",
    slash-solid: "\edb1",
    sleigh-solid: "\edb2",
    sliders-h-solid: "\edb3",
    slideshare: "\edb4",
    smile: "\edb5",
    smile-beam: "\edb6",
    smile-beam-solid: "\edb7",
    smile-solid: "\edb8",
    smile-wink: "\edb9",
    smile-wink-solid: "\edba",
    smog-solid: "\edbb",
    smoking-ban-solid: "\edbc",
    smoking-solid: "\edbd",
    sms-solid: "\edbe",
    snapchat: "\edbf",
    snapchat-ghost: "\edc0",
    snapchat-square: "\edc1",
    snowboarding-solid: "\edc2",
    snowflake: "\edc3",
    snowflake-solid: "\edc4",
    snowman-solid: "\edc5",
    snowplow-solid: "\edc6",
    socks-solid: "\edc7",
    solar-panel-solid: "\edc8",
    sort-alpha-down-alt-solid: "\edc9",
    sort-alpha-down-solid: "\edca",
    sort-alpha-up-alt-solid: "\edcb",
    sort-alpha-up-solid: "\edcc",
    sort-amount-down-alt-solid: "\edcd",
    sort-amount-down-solid: "\edce",
    sort-amount-up-alt-solid: "\edcf",
    sort-amount-up-solid: "\edd0",
    sort-down-solid: "\edd1",
    sort-numeric-down-alt-solid: "\edd2",
    sort-numeric-down-solid: "\edd3",
    sort-numeric-up-alt-solid: "\edd4",
    sort-numeric-up-solid: "\edd5",
    sort-solid: "\edd6",
    sort-up-solid: "\edd7",
    soundcloud: "\edd8",
    sourcetree: "\edd9",
    space-shuttle-solid: "\edda",
    spa-solid: "\eddb",
    speakap: "\eddc",
    speaker-deck: "\eddd",
    spell-check-solid: "\edde",
    spider-solid: "\eddf",
    spinner-solid: "\ede0",
    splotch-solid: "\ede1",
    spotify: "\ede2",
    spray-can-solid: "\ede3",
    square: "\ede4",
    square-full-solid: "\ede5",
    square-root-alt-solid: "\ede6",
    square-solid: "\ede7",
    squarespace: "\ede8",
    stack-exchange: "\ede9",
    stack-overflow: "\edea",
    stackpath: "\edeb",
    stamp-solid: "\edec",
    star: "\eded",
    star-and-crescent-solid: "\edee",
    star-half: "\edef",
    star-half-alt-solid: "\edf0",
    star-half-solid: "\edf1",
    star-of-david-solid: "\edf2",
    star-of-life-solid: "\edf3",
    star-solid: "\edf4",
    staylinked: "\edf5",
    steam: "\edf6",
    steam-square: "\edf7",
    steam-symbol: "\edf8",
    step-backward-solid: "\edf9",
    step-forward-solid: "\edfa",
    stethoscope-solid: "\edfb",
    sticker-mule: "\edfc",
    sticky-note: "\edfd",
    sticky-note-solid: "\edfe",
    stop-circle: "\edff",
    stop-circle-solid: "\ee00",
    stop-solid: "\ee01",
    stopwatch-solid: "\ee02",
    store-alt-solid: "\ee03",
    store-solid: "\ee04",
    strava: "\ee05",
    stream-solid: "\ee06",
    street-view-solid: "\ee07",
    strikethrough-solid: "\ee08",
    stripe: "\ee09",
    stripe-s: "\ee0a",
    stroopwafel-solid: "\ee0b",
    studiovinari: "\ee0c",
    stumbleupon: "\ee0d",
    stumbleupon-circle: "\ee0e",
    subscript-solid: "\ee0f",
    subway-solid: "\ee10",
    suitcase-rolling-solid: "\ee11",
    suitcase-solid: "\ee12",
    sun: "\ee13",
    sun-solid: "\ee14",
    superpowers: "\ee15",
    superscript-solid: "\ee16",
    supple: "\ee17",
    surprise: "\ee18",
    surprise-solid: "\ee19",
    suse: "\ee1a",
    swatchbook-solid: "\ee1b",
    swift: "\ee1c",
    swimmer-solid: "\ee1d",
    swimming-pool-solid: "\ee1e",
    symfony: "\ee1f",
    synagogue-solid: "\ee20",
    sync-alt-solid: "\ee21",
    sync-solid: "\ee22",
    syringe-solid: "\ee23",
    table-solid: "\ee24",
    tablet-alt-solid: "\ee25",
    table-tennis-solid: "\ee26",
    tablet-solid: "\ee27",
    tablets-solid: "\ee28",
    tachometer-alt-solid: "\ee29",
    tag-solid: "\ee2a",
    tags-solid: "\ee2b",
    tape-solid: "\ee2c",
    tasks-solid: "\ee2d",
    taxi-solid: "\ee2e",
    teamspeak: "\ee2f",
    teeth-open-solid: "\ee30",
    teeth-solid: "\ee31",
    telegram: "\ee32",
    telegram-plane: "\ee33",
    temperature-high-solid: "\ee34",
    temperature-low-solid: "\ee35",
    tencent-weibo: "\ee36",
    tenge-solid: "\ee37",
    terminal-solid: "\ee38",
    text-height-solid: "\ee39",
    text-width-solid: "\ee3a",
    theater-masks-solid: "\ee3b",
    themeco: "\ee3c",
    themeisle: "\ee3d",
    the-red-yeti: "\ee3e",
    thermometer-empty-solid: "\ee3f",
    thermometer-full-solid: "\ee40",
    thermometer-half-solid: "\ee41",
    thermometer-quarter-solid: "\ee42",
    thermometer-solid: "\ee43",
    thermometer-three-quarters-solid: "\ee44",
    think-peaks: "\ee45",
    th-large-solid: "\ee46",
    th-list-solid: "\ee47",
    th-solid: "\ee48",
    thumbs-down: "\ee49",
    thumbs-down-solid: "\ee4a",
    thumbs-up: "\ee4b",
    thumbs-up-solid: "\ee4c",
    thumbtack-solid: "\ee4d",
    ticket-alt-solid: "\ee4e",
    times-circle: "\ee4f",
    times-circle-solid: "\ee50",
    times-solid: "\ee51",
    tint-slash-solid: "\ee52",
    tint-solid: "\ee53",
    tired: "\ee54",
    tired-solid: "\ee55",
    toggle-off-solid: "\ee56",
    toggle-on-solid: "\ee57",
    toilet-paper-solid: "\ee58",
    toilet-solid: "\ee59",
    toolbox-solid: "\ee5a",
    tools-solid: "\ee5b",
    tooth-solid: "\ee5c",
    torah-solid: "\ee5d",
    torii-gate-solid: "\ee5e",
    tractor-solid: "\ee5f",
    trade-federation: "\ee60",
    trademark-solid: "\ee61",
    traffic-light-solid: "\ee62",
    train-solid: "\ee63",
    tram-solid: "\ee64",
    transgender-alt-solid: "\ee65",
    transgender-solid: "\ee66",
    trash-alt: "\ee67",
    trash-alt-solid: "\ee68",
    trash-restore-alt-solid: "\ee69",
    trash-restore-solid: "\ee6a",
    trash-solid: "\ee6b",
    tree-solid: "\ee6c",
    trello: "\ee6d",
    tripadvisor: "\ee6e",
    trophy-solid: "\ee6f",
    truck-loading-solid: "\ee70",
    truck-monster-solid: "\ee71",
    truck-moving-solid: "\ee72",
    truck-pickup-solid: "\ee73",
    truck-solid: "\ee74",
    tshirt-solid: "\ee75",
    tty-solid: "\ee76",
    tumblr: "\ee77",
    tumblr-square: "\ee78",
    tv-solid: "\ee79",
    twitch: "\ee7a",
    twitter: "\ee7b",
    twitter-square: "\ee7c",
    typo3: "\ee7d",
    uber: "\ee7e",
    ubuntu: "\ee7f",
    uikit: "\ee80",
    umbraco: "\ee81",
    umbrella-beach-solid: "\ee82",
    umbrella-solid: "\ee83",
    underline-solid: "\ee84",
    undo-alt-solid: "\ee85",
    undo-solid: "\ee86",
    uniregistry: "\ee87",
    universal-access-solid: "\ee88",
    university-solid: "\ee89",
    unlink-solid: "\ee8a",
    unlock-alt-solid: "\ee8b",
    unlock-solid: "\ee8c",
    untappd: "\ee8d",
    upload-solid: "\ee8e",
    ups: "\ee8f",
    usb: "\ee90",
    user: "\ee91",
    user-alt-slash-solid: "\ee92",
    user-alt-solid: "\ee93",
    user-astronaut-solid: "\ee94",
    user-check-solid: "\ee95",
    user-circle: "\ee96",
    user-circle-solid: "\ee97",
    user-clock-solid: "\ee98",
    user-cog-solid: "\ee99",
    user-edit-solid: "\ee9a",
    user-friends-solid: "\ee9b",
    user-graduate-solid: "\ee9c",
    user-injured-solid: "\ee9d",
    user-lock-solid: "\ee9e",
    user-md-solid: "\ee9f",
    user-minus-solid: "\eea0",
    user-ninja-solid: "\eea1",
    user-nurse-solid: "\eea2",
    user-plus-solid: "\eea3",
    users-cog-solid: "\eea4",
    user-secret-solid: "\eea5",
    user-shield-solid: "\eea6",
    user-slash-solid: "\eea7",
    user-solid: "\eea8",
    users-solid: "\eea9",
    user-tag-solid: "\eeaa",
    user-tie-solid: "\eeab",
    user-times-solid: "\eeac",
    usps: "\eead",
    ussunnah: "\eeae",
    utensil-spoon-solid: "\eeaf",
    utensils-solid: "\eeb0",
    vaadin: "\eeb1",
    vector-square-solid: "\eeb2",
    venus-double-solid: "\eeb3",
    venus-mars-solid: "\eeb4",
    venus-solid: "\eeb5",
    viacoin: "\eeb6",
    viadeo: "\eeb7",
    viadeo-square: "\eeb8",
    vial-solid: "\eeb9",
    vials-solid: "\eeba",
    viber: "\eebb",
    video-slash-solid: "\eebc",
    video-solid: "\eebd",
    vihara-solid: "\eebe",
    vimeo: "\eebf",
    vimeo-square: "\eec0",
    vimeo-v: "\eec1",
    vine: "\eec2",
    vk: "\eec3",
    vnv: "\eec4",
    voicemail-solid: "\eec5",
    volleyball-ball-solid: "\eec6",
    volume-down-solid: "\eec7",
    volume-mute-solid: "\eec8",
    volume-off-solid: "\eec9",
    volume-up-solid: "\eeca",
    vote-yea-solid: "\eecb",
    vr-cardboard-solid: "\eecc",
    vuejs: "\eecd",
    walking-solid: "\eece",
    wallet-solid: "\eecf",
    warehouse-solid: "\eed0",
    water-solid: "\eed1",
    wave-square-solid: "\eed2",
    waze: "\eed3",
    weebly: "\eed4",
    weibo: "\eed5",
    weight-hanging-solid: "\eed6",
    weight-solid: "\eed7",
    weixin: "\eed8",
    whatsapp: "\eed9",
    whatsapp-square: "\eeda",
    wheelchair-solid: "\eedb",
    whmcs: "\eedc",
    wifi-solid: "\eedd",
    wikipedia-w: "\eede",
    window-close: "\eedf",
    window-close-solid: "\eee0",
    window-maximize: "\eee1",
    window-maximize-solid: "\eee2",
    window-minimize: "\eee3",
    window-minimize-solid: "\eee4",
    window-restore: "\eee5",
    window-restore-solid: "\eee6",
    windows: "\eee7",
    wind-solid: "\eee8",
    wine-bottle-solid: "\eee9",
    wine-glass-alt-solid: "\eeea",
    wine-glass-solid: "\eeeb",
    wix: "\eeec",
    wizards-of-the-coast: "\eeed",
    wolf-pack-battalion: "\eeee",
    won-sign-solid: "\eeef",
    wordpress: "\eef0",
    wordpress-simple: "\eef1",
    wpbeginner: "\eef2",
    wpexplorer: "\eef3",
    wpforms: "\eef4",
    wpressr: "\eef5",
    wrench-solid: "\eef6",
    xbox: "\eef7",
    xing: "\eef8",
    xing-square: "\eef9",
    x-ray-solid: "\eefa",
    yahoo: "\eefb",
    yammer: "\eefc",
    yandex: "\eefd",
    yandex-international: "\eefe",
    yarn: "\eeff",
    y-combinator: "\ef00",
    yelp: "\ef01",
    yen-sign-solid: "\ef02",
    yin-yang-solid: "\ef03",
    yoast: "\ef04",
    youtube: "\ef05",
    youtube-square: "\ef06",
    zhihu: "\ef07",
);

$icons-active-map: ();

@function icon($key) {
    @if map-has-key($icons-map, $key) {
        @return map-get($icons-map, $key);
    }

    @else if map-has-key($icons-active-map, $key) {
        @return map-get($icons-active-map, $key);
    }

    @else {
        @return "Icon not found!";
    }
}