@use "sass:math";

.index_header {
  margin-bottom: -2em;
  @media (min-width: $sm) {
    margin-bottom: -4em;
  }

  @media (min-width: $md) {
    margin-bottom: -4em;
  }

  @media (min-width: $lg) {
  }

  @media (min-width: $xl) {
  }

  @media (min-width: $xxl) {
    margin-bottom: -6em;
  }

  background-color: transparent;
  color: $c-light-main;
  .carousel {
    $xsh: 14em;
    $smh: 20em;
    $mdh: 20em;
    $lgh: 25em;
    $xlh: 25em;
    $xxlh: 35em;
    .splide {
      .splide__slide {
        height: $xsh;
        @media (min-width: $sm) {
          height: $smh;
        }
        @media (min-width: $md) {
          height: $mdh;
        }
        @media (min-width: $lg) {
          height: $lgh;
        }
        @media (min-width: $xl) {
          height: $xlh;
        }
        @media (min-width: $xxl) {
          height: $xxlh;
        }
      }
      .arrows_wrapper {
        height: 0px;
        position: relative;
        top: math.div($xsh, 2);
        top: calc(math.div($xsh, 2) - 8px);
        @media (min-width: $sm) {
          top: math.div($smh, 2);
          top: calc(math.div($smh, 2) - 16px);
        }
        @media (min-width: $md) {
          top: math.div($mdh, 2);
          top: calc(math.div($mdh, 2) - 16px);
        }
        @media (min-width: $lg) {
          top: math.div($lgh, 2);
          top: calc(math.div($lgh, 2) - 16px);
        }
        @media (min-width: $xl) {
          top: math.div($xlh, 2);
          top: calc(math.div($xlh, 2) - 16px);
        }
        @media (min-width: $xxl) {
          // top: calc(#{calc(#{-$xxlh}/ 2)} - 16px);
          top: math.div($xxlh, 2);
          top: calc(math.div($xxlh, 2) - 16px);
        }
        // @debug math.div(1, 2);
        .splide__arrows {
          // width: 1320px;
          position: relative;
        }
        .splide__arrow {
          background-color: #cccccc55;
          &.splide__arrow--prev {
            left: 0;
          }
          &.splide__arrow--next {
            right: 0;
          }
        }
      }
    }
    .photo_scroller {
      .splide__slide {
        img {
          height: 100%;
        }
      }
    }
    .content {
      //ТЕКСТ...........................
      position: relative;
      background-color: #00000050;
      text-shadow: 0px 0px 8px #000, 0px 0px 8px #000;
      color: $c-bg-light-main;
      &,
      .container-lg > .row {
        height: $xsh;
        top: -$xsh;
        h1 {
          font-size: 2em;
        }
        h2 {
          font-size: 1.2em;
        }

        h3 {
          font-size: 1.5em;
        }
        .btn {
          &:hover {
            text-shadow: none;
          }
        }

        @media (min-width: $sm) {
          height: $smh;
          top: -$smh;
          h1 {
            font-size: 2em;
          }
          h2 {
            font-size: 1.2em;
          }

          h3 {
            font-size: 1.5em;
          }
          // .btn {
          // }
        }

        @media (min-width: $md) {
          height: $mdh;
          top: -$mdh;
          h1 {
            font-size: 2em;
          }
          h2 {
            font-size: 1.2em;
          }

          h3 {
            font-size: 1.5em;
          }
          // .btn {
          // }
        }

        @media (min-width: $lg) {
          height: $lgh;
          top: -$lgh;
          h1 {
            font-size: 2em;
          }
          h2 {
            font-size: 1.2em;
          }

          h3 {
            font-size: 1.5em;
          }
          // .btn {
          // }
        }

        @media (min-width: $xl) {
          height: $xlh;
          top: -$xlh;
          h1 {
            font-size: 2em;
          }
          h2 {
            font-size: 1.2em;
          }

          h3 {
            font-size: 1.5em;
          }
          // .btn {
          // }
        }

        @media (min-width: $xxl) {
          height: $xxlh;
          top: -$xxlh;
          h1 {
            font-size: 2em;
          }
          h2 {
            font-size: 1.2em;
          }

          h3 {
            font-size: 1.5em;
          }
          // .btn {
          // }
        }
      }
    }
  }
}

@media (min-width: $sm) {
}

@media (min-width: $md) {
}

@media (min-width: $lg) {
}

@media (min-width: $xl) {
}

@media (min-width: $xxl) {
}
