@import "icons/icons";

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$background: #494949;
$border_color: #303030;
$background-light: rgb(233, 233, 233);

body {
    background: $background;
}


.navbar {
    .navbar-brand {
        img {
            width: 200px;
            height: auto;
            filter: invert(1);
        }
    }
}

.content {
    border-radius: 10px;
}

.content>.orders {}

.dd {
    background-color: rgba(#ff0000, 0.2) !important;
    border: 1px solid gray;

}

.ddd {
    background-color: rgba(#0000ff, 0.2) !important;
    border: 1px solid gray;
}