@import'icons/icons';

$danger: #f44336;

table {
    tr[onclick] {
        cursor: pointer;
    }

    .danger {
        background-color: $danger;
        color: #FFF;

    }
}

.sales_acc {
    .order-1 {
        font-weight: bold;
        font-size: 1.2rem;
    }
}