$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../fonts/icons" !default;

$icon-color: #2666ce !default;
$icon-color-hover: #c078ff !default;
$icon-color-active: #1b79c3 !default;
$icon-color-active-hover: #1b79c3 !default;

$icon-transition-duration: 0.4s !default;
$icon-transition-type: ease-in !default;

$icon-font-size: 20px !default;